@import "../../../../src/styles"

.footer
    background-color: $secondary
    color: $primary
    font-weight: 700
    font-style: italic
    font-size: 20px
    padding: 20px
    a
        margin: 10px

.img
    fill: $primary
    width: 45px
    transition: transform .2s
    &:hover
        transform: scale(1.1)
        cursor: pointer
