<div class="footer text-center" id="footer">
  <p>gracias por ver ♥</p>
  <a href="https://github.com/duboisfacu" target="_blank">
    <mat-icon class="img color--primary" [svgIcon]="'ghub'"></mat-icon>
  </a>
  <a href="https://www.linkedin.com/in/duboisfacu/" target="_blank">
    <mat-icon class="img color--primary" [svgIcon]="'linkedin'"></mat-icon>
  </a>
  <a
    href="mailto:facundubois@gmail.com?Subject=CONTACTO%20POR%20PORTFOLIO"
    target="_blank"
  >
    <mat-icon class="img color--primary" [svgIcon]="'mail'"></mat-icon>
  </a>
  <a
    href="./assets/downloads/Dubois Facundo Desarrollador Frontend.pdf"
    target="_blank"
  >
    <mat-icon class="img color--primary" [svgIcon]="'micv'"></mat-icon>
  </a>
</div>
