<div class="footer text-center" id="footer">
  <p>gracias por ver ♥</p>
  <a href="https://github.com/duboisfacu" target="_blank">
    <img src="../../../assets/footer/github.svg" />
  </a>
  <a href="https://www.linkedin.com/in/duboisfacu/" target="_blank">
    <img src="../../../assets/footer/linkedin.svg" />
  </a>
  <a
    href="mailto:facundubois@gmail.com?Subject=CONTACTO%20POR%20PORTFOLIO"
    target="_blank"
  >
    <img src="../../../assets/footer/email.svg" />
  </a>
  <a
    href="../../../assets/downloads/Dubois Facundo Desarrollador Frontend.pdf"
    target="_blank"
    ><img class="btn-cv" src="../../../assets/micv.svg"
  /></a>
</div>
