@import "../../../../src/styles"

.footer
    background-color: $secondary
    color: $primary
    font-weight: 700
    font-style: italic
    font-size: 20px
    padding: 20px
    a
        margin: 10px

.img
    height: 100%
    fill: $primary
    margin: 0 5px 5px 5px
    transition: transform .2s
    transform: scale(1.6)
    &:hover
        transform: scale(1.8)
        cursor: pointer
