<div class="text-center panel" id="abilities">
  <h2 data-aos="zoom-in" data-aos-delay="100">HABILIDADES</h2>
  <br />
  <div class="lengs">
    <div class="aos" data-aos="fade-up" data-aos-delay="100">
      <!-- <img class="leng" src="../../../assets/abilities/html.svg" /> -->
      <mat-icon class="leng color--secondary" [svgIcon]="'html'"></mat-icon>
    </div>
    <div class="aos" data-aos="fade-up" data-aos-delay="200">
      <mat-icon class="leng color--secondary" [svgIcon]="'css'"></mat-icon>
    </div>
    <div class="aos" data-aos="fade-up" data-aos-delay="300">
      <mat-icon class="leng color--secondary" [svgIcon]="'js'"></mat-icon>
    </div>
    <br />
    <div class="aos" data-aos="fade-up" data-aos-delay="400">
      <mat-icon class="leng color--secondary" [svgIcon]="'angular'"></mat-icon>
    </div>
    <div class="aos" data-aos="fade-up" data-aos-delay="500">
      <mat-icon class="leng color--secondary" [svgIcon]="'react'"></mat-icon>
    </div>
    <div class="aos" data-aos="fade-up" data-aos-delay="600">
      <mat-icon
        class="leng color--secondary"
        [svgIcon]="'bootstrap'"
      ></mat-icon>
    </div>
    <div class="aos" data-aos="fade-up" data-aos-delay="700">
      <mat-icon class="leng color--secondary" [svgIcon]="'sass'"></mat-icon>
    </div>
    <app-arrow [href]="'projects'"></app-arrow>
  </div>
</div>
