<div class="text-center panel" id="about">
  <h2 data-aos="zoom-in" data-aos-delay="100">SOBRE MI</h2>
  <br />
  <div data-aos="fade-up" class="content shadow">
    <p class="text-start">
      Hola! soy Facundo Dubois, soy un joven desarrollador frontend de Córdoba.
      Me considero una persona muy apasionada, con constantes ganas de aprender
      y mejorar.
    </p>
    <br />
    <p class="text-start">
      Adjunto mi curriculum para más información respecto a mi recorrido:
    </p>
    <a
      href="../../../assets/downloads/Dubois Facundo Desarrollador Frontend.pdf"
      target="_blank"
      ><img class="btn-cv" src="../../../assets/micv.svg"
    /></a>
  </div>
  <br />
  <app-arrow [href]="'abilities'"></app-arrow>
</div>
