<div class="text-center panel" id="home">
  <h2 data-aos="fade-up">FACUNDO N. DUBOIS</h2>
  <div
    data-aos="fade-right"
    data-aos-duration="600"
    class="image-cropper shadow"
  >
    <img
      src="https://media-exp1.licdn.com/dms/image/C4D03AQHdIsG84MXqeg/profile-displayphoto-shrink_800_800/0/1632457976109?e=1648080000&v=beta&t=sQWTwekW_2xJyXmVlQvt35iJBw-2DbdYF4DYO8qsLDk"
      class="rounded"
    />
  </div>
  <h3 data-aos="fade-up" data-aos-duration="1200" data-aos-delay="300">
    DESARROLLADOR FRONTEND
  </h3>
  <div class="relative">
    <a class="bounce" href="#about"
      ><img class="arrow" src="../../../assets/arrow.svg"
    /></a>
  </div>
</div>
