h2
    padding-top: 6.5vw
    font-weight: 700
    font-style: italic
    font-size: max(3vw,25px)
h3
    font-size: max(3vw,20px)

.panel
    // background-color: red
    height: 100vh

.image-cropper
    margin: 40px auto
    width: 20vw
    height: 20vw
    min-width: 250px
    min-height: 250px
    position: relative
    overflow: hidden
    border-radius: 50%

.rounded
    display: inline
    margin: 0 auto
    height: 100%
    width: auto
@media (max-width: 576px)
    h2
        padding-top: 80px
