<div class="text-center panel" id="projects">
  <h2 data-aos="zoom-in" data-aos-delay="100">PROYECTOS</h2>

  <br />
  <div class="container">
    <div class="row">
      <div *ngFor="let card of projects[0]; let i = index" class="col">
        <div data-aos="fade-up" data-aos-delay="100" class="sis shadow">
          <h3 class="title">
            {{ card[0] }}
            <!-- <mat-icon>account_balance</mat-icon> -->
          </h3>
          <div class="img-cont">
            <mat-icon
              class="img color--primary"
              svgIcon="{{ card[1] }}"
            ></mat-icon>
            <!-- <img
              class="img color--primary"
              fill="#FFFFFF"
              src="{{ card[1] }}"
            /> -->
          </div>
          <div class="buttons">
            <a
              [swal]="{
                title: card[0].toString(),
                html: run(card),

                confirmButtonText: 'Cerrar'
              }"
              (click)="run(card)"
              *ngIf="card[2]"
            >
              <mat-icon class="img color--primary" svgIcon="info"></mat-icon>
            </a>
            <a *ngIf="card[3]" href="{{ card[3] }}" target="_blank">
              <mat-icon class="img color--primary" svgIcon="github"></mat-icon>
            </a>
            <a *ngIf="card[4]" href="{{ card[4] }}" target="_blank">
              <mat-icon class="img color--primary" svgIcon="demo"></mat-icon>
            </a>
          </div>
        </div>
      </div>
    </div>

    <a class="more fades" *ngIf="more === 0" (click)="operation(1)"
      >ver más proyectos</a
    >
    <div class="panel-mid" *ngIf="more === 1">
      <div class="row">
        <ng-container *ngFor="let card of projects[1]; let i = index">
          <div class="{{ !card[7] ? 'col' : 'col invisible' }}">
            <div data-aos="fade-up" data-aos-delay="100" class="sis shadow">
              <h3 class="title">
                {{ card[0] }}
              </h3>
              <div class="img-cont">
                <mat-icon
                  class="img color--primary"
                  svgIcon="{{ card[1] }}"
                ></mat-icon>
              </div>
              <div class="buttons">
                <a
                  [swal]="{
                    title: card[0].toString(),
                    html: run(card),

                    confirmButtonText: 'Cerrar'
                  }"
                  (click)="run(card)"
                  *ngIf="card[2]"
                >
                  <mat-icon
                    class="img color--primary"
                    svgIcon="info"
                  ></mat-icon>
                </a>
                <a *ngIf="card[3]" href="{{ card[3] }}" target="_blank">
                  <mat-icon
                    class="img color--primary"
                    svgIcon="github"
                  ></mat-icon>
                </a>
                <a *ngIf="card[4]" href="{{ card[4] }}" target="_blank">
                  <mat-icon
                    class="img color--primary"
                    svgIcon="info"
                  ></mat-icon>
                </a>
              </div>
            </div>
          </div>
        </ng-container>

        <a data-aos="fade-down" class="more" (click)="operation(0)"
          >ver menos proyectos</a
        >
      </div>
    </div>
    <app-arrow [href]="'contact'"></app-arrow>
  </div>
</div>
