<div class="text-center panel" id="projects">
  <h2 data-aos="zoom-in" data-aos-delay="100">PROYECTOS</h2>
  <br />
  <div class="container">
    <div class="row">
      <div *ngFor="let card of projects[0]; let i = index" class="col">
        <div *ngIf="i == 3" id="projects-2"></div>
        <div data-aos="fade-up" data-aos-delay="100" class="sis shadow">
          <h3 class="title">
            {{ card[0] }}
          </h3>
          <div class="img-cont">
            <img class="img" src="{{ card[1] }}" />
          </div>
          <div class="buttons">
            <a
              [swal]="{
                title: card[0].toString(),
                html: run(card),

                confirmButtonText: 'Cerrar'
              }"
              (click)="run(card)"
              *ngIf="card[2]"
            >
              <img src="../../../assets/projects/buttons/info.svg" />
            </a>
            <a *ngIf="card[3]" href="{{ card[3] }}" target="_blank">
              <img src="../../../assets/projects/buttons/github.svg" />
            </a>
            <a *ngIf="card[4]" href="{{ card[4] }}" target="_blank">
              <img src="../../../assets/projects/buttons/demo.svg" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <a
      class="more fades"
      href="#projects-2"
      *ngIf="more === 0"
      (click)="operation(1)"
      >ver más</a
    >
    <div class="panel-mid" *ngIf="more === 1">
      <div class="row">
        <ng-container *ngFor="let card of projects[1]; let i = index">
          <div class="{{ !card[7] ? 'col' : 'col invisible' }}">
            <div data-aos="fade-up" data-aos-delay="100" class="sis shadow">
              <h3 class="title">
                {{ card[0] }}
              </h3>
              <div class="img-cont">
                <img class="img" src="{{ card[1] }}" />
              </div>
              <div class="buttons">
                <a
                  [swal]="{
                    title: card[0].toString(),
                    html: run(card),

                    confirmButtonText: 'Cerrar'
                  }"
                  (click)="run(card)"
                  *ngIf="card[2]"
                >
                  <img src="../../../assets/projects/buttons/info.svg" />
                </a>
                <a *ngIf="card[3]" href="{{ card[3] }}" target="_blank">
                  <img src="../../../assets/projects/buttons/github.svg" />
                </a>
                <a *ngIf="card[4]" href="{{ card[4] }}" target="_blank">
                  <img src="../../../assets/projects/buttons/demo.svg" />
                </a>
              </div>
            </div>
          </div>
        </ng-container>

        <a
          data-aos="fade-down"
          class="more"
          href="#projects"
          (click)="operation(0)"
          >ver menos</a
        >
        <div *ngIf="more === 1" class="relative">
          <a (click)="operation(0)" class="bounce" href="#contact"
            ><img class="arrow" src="../../../assets/arrow.svg"
          /></a>
        </div>
      </div>
    </div>
    <div *ngIf="more === 0" class="relative">
      <a class="bounce" href="#contact"
        ><img class="arrow" src="../../../assets/arrow.svg"
      /></a>
    </div>
  </div>
</div>
