@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,900&display=swap')

$primary: #c6538c
$primaryTranslucent: #c6538ce0
$primaryHover: #9e4270
$secondary: #555555
$secondaryTranslucent: #555555DA

.color
  &--primary
    fill: $primary
    color: $primary

  &--secondary
    fill: $secondary
    color: $secondary

html, body
  margin: 0
  padding: 0
  background-color: $primary
  font-family: 'Poppins', sans-serif
  color: $secondary

.panel
  position: relative

.animate__animated.animate__bounceIn
  --animate-duration: 1s

.animate__animated.animate__bounceOut
  --animate-duration: 0.6s

.mat-dialog-container
  background-color: $secondary
  color: $primary
  font-family: 'Poppins', sans-serif
  text-align: center
  max-width: 500px
  max-height: 550px
  padding: 10px
